.commands-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.4rem;
}

.card {
    display: inline-block;
    background-color: aliceblue;
    padding: 2.4rem;
    border-radius: 0.5rem;
    margin-bottom: 2.4rem;
    width: 20rem;
}

.card h2 {
    text-align: left;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.card li {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

.card li:not(:last-child) {
    margin-bottom: 0.8rem;
}

.commands-wrapper button {
    min-width: 19rem;
}

.description {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    font-style: italic;
}

.output {
    font-size: 2.4rem;
    margin-top: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 20rem;
    overflow-wrap: break-word;
}

.output span {
    color: rgb(249, 61, 61);
}

.commands-wrapper .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

@media screen and (max-width: 950px){
    .commands-wrapper .button-wrapper {
        margin-bottom: 4rem;
    }
}