:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color: #213547;
    background-color: #ffffff;
  
    /* 
      The rem unit will use this size as reference, 
      it's set to a percentage to keep the users ability to change the root font-size 
      (bad practice to set it with px) 
    */
    font-size: 62.5%; /* This equals to 10px (10/16 = 0.625, 16px is the browsers default size) */
  }

  *, 
  *::after,
  *::before {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }
    
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  
  a:hover {
    color: #747bff;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    box-sizing: border-box; 
  }
  
  h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    will-change: filter;
    transition: filter 300ms;
    margin: 0.8rem 0 3.2rem;
  }
  
  h1:hover {
    filter: drop-shadow(0 0 1em #646cffaa);
  }
  
  h1:hover {
    filter: drop-shadow(0 0 1em #3178c6aa);
  }
  
  .image {
    height: 6em;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    font-family: inherit;
    background-color: #646cff;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  
  button.-secondary {
    background-color: #a1a1a1;
  }

  button.-small {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }

  button.-secondary:hover {
    background-color: #b2b1b1;
  }

  button:hover {
    background-color: #7b81fd;
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  ul {
    list-style: none;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3.2rem;
    position: relative;
    gap: 2.4rem;
  }

  .header {
    margin-bottom: 4.8rem;
  }

  .cards-wrapper {
    display: flex;
    gap: 1.2rem;
  }

  @media screen and (max-width: 950px){
    .wrapper {
      flex-direction: column;
    }
  }
  