#room {
    margin-right: 2.4rem;
    border: solid 1px #000;
    display: block;
}

#room.circle {
    border-radius: 50%;
}

@media screen and (max-width: 950px){
    #room {
        margin-right: 0;
    }
}